* {
    background-color: #1F1F1F;
}

body {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: x-large;
    padding-top: 10%;
    padding-bottom: 10%;
    flex-wrap: wrap;
    height: 100vh;
}

a{
    color: #377753;
}

h1 {
    color: #CF61A5;
    text-align: center;
    text-decoration: underline;
}

h2 {
    text-decoration: underline;
    color: #83CBF7;

}

p {
    color: peru;

}


.header {
    display: flex;
    /* border: solid 1px blueviolet; */
    flex-direction: column;
    justify-content: space-between;


}

.text {
    display: flex;
    /* border: solid 1px wheat; */
    justify-content: space-around;

}

.img3 {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.img {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.post3 {
    display: flex;
    /* border: solid 1px hotpink;  */
    text-align: center;
}

.img2 {
    display: flex;
    /* border: solid 1px crimson; */
    justify-content: space-around;
}

.post1 {
    display: flex;
    /* border: solid 1px red; */

}