* {background-color:#1F1F1F;}

body {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: x-large;
    padding-top:5% ;
    padding-bottom: 5% ;
}



h1 {
    color: #CF61A5;
    text-align: center;
    text-decoration: underline;
}

h2 {
    text-decoration: underline;
    color:#83CBF7;

}

p {
    color: peru;

}


.header {
    display: flex;
    /* border: solid 1px blueviolet; */
    
    flex-direction: column;
    justify-content: space-between;
    

}

.text {
    display: flex;
    /* border: solid 1px wheat; */
    justify-content: space-around;
    
}

.post_04, .post_03, .post_02_pt2, .post_02_pt3 {
    display: flex;
    /* border: solid 1px hotpink;  */
    text-align: center;
}

.post_03_img, .post_02_img {
    display: flex;
    /* border: solid 1px crimson; */
    justify-content: space-around;
}

.post_02 {
    display: flex;
    /* border: solid 1px greenyellow; */

}

.post_02_pt3 {
    display: flex;
    /* border: solid 1px whitesmoke; */
    flex-direction: row-reverse;
}


.post_01 {
    display: flex;
    /* border: solid 1px red; */

}
